$orange:#FF5C01;
$gray: #F3F3F7;
$lightOrange: #FFD2B3;
$lighterOrange: #FFF0E6;
html {
    scroll-behavior: smooth;
}
body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
// font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: keep-all;
font-family: 'Merriweather Sans', sans-serif;
}
body {
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto auto auto auto;
}
header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    // background-color: #d44e06;
    z-index: 2;
    transition: 0.3s;
    border-bottom: 1px solid $gray;
    .headerTop {
        grid-column: 2/3;
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
        margin: 25px 0;
        .title {
            min-width: 240px;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
            }
            img {
                height: 40px;
                margin-right: 20px;
            }
            h1 {
                letter-spacing: 1px;
                font-size: 28px;
                color: black;
            }
        }
        .orderProcess {
            width: 450px;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                ol {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    position: relative;
                    span {
                        border: 1px solid black;
                        width: 30px;
                        height: 30px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                    }
                    &:first-of-type {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 90%;
                            top: 16px;
                            width: 115px;
                            height: 1px;
                            background-color: rgb(175, 175, 175);
                            background-image: repeating-linear-gradient(90deg, rgb(175, 175, 175), rgb(175, 175, 175) 2px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 8px);
                        }
                    }
                    &:last-of-type {
                        &::after {
                            content: "";
                            position: absolute;
                            left: -80%;
                            top: 16px;
                            width: 155px;
                            height: 1px;
                            background-color: rgb(175, 175, 175);
                            background-image: repeating-linear-gradient(90deg, rgb(175, 175, 175), rgb(175, 175, 175) 2px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 8px);
                        }
                    }
                }
            }
        }
    }
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 8fr 15fr 8fr;
    div {
        grid-column: 2/3;
    }
    h1 {
        font-weight: 400;
        margin: 35px 0;
        font-size: 36px;
    }
    h3 {
        font-weight: 400;
        margin: 50px 0;
        font-size: 22px;
        &:nth-of-type(2) {
            margin: 50px 0 20px;
        }
        &:last-of-type {
            margin: 50px 0 20px;
        }
    }
    .saucesList {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .sauces {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgb(218, 218, 218);
        border-radius: 14px;
        width: 108px;
        height: 170px;
        margin: 0 10px;
        img {
            width: 64px;
            margin: 0 0 10px;
        }
        p {
            font-size: 14px;
            word-break: keep-all;
            text-align: center;
        }
        button {
            width: 90px;
            height: 30px;
            border: none;
            border-radius: 20px;
            background-color: rgb(255, 240, 230);
            color: rgb(209, 87, 0);
            font-size: 14px;
            margin: 10px 0 10px 0;
            &:hover {
                background-color: #FFD2B3;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }
    .promoCode {
        input {
            height: 29px;
            width: 180px;
            font-size: 13px;
            font-weight: 400;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border: 1px solid rgb(185, 184, 184);
        }
        button {
            height: 29px;
            width: 90px;
            font-size: 13px;
            font-weight: 400;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border: none;
            background-color: #FF5C01;
            color: white;
            margin-left: -5px;
        }
    }
    .finalPriceBox {
        margin: 50px 0 20px;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        h4 {
            font-weight: 500;
            font-size: 20px;
        }
        h3 {
            margin: 0 0 0 14px;
            font-weight: 500;
            font-size: 24px;
            color: $orange;
        }
    }
    .backAndNext {
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
            height: 48px;
            width: 200px;
            color: rgb(112, 111, 111);
            background-color: $gray;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:last-of-type {
                width: 150px;
            }
            i {
                font-size: 24px;
                font-weight: 500;
                margin: 0 30px 0 15px;
            }
            &:last-of-type {
                justify-content: flex-end;
                i {
                    margin: 0 15px 0 30px;
                }
            }
            &:hover {
                color: black;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}