html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  margin: 0px 0%;
  padding-bottom: 10px;
  z-index: 2;
}

header .headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 8% 0;
}

header .headerTop .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 240px;
}

header .headerTop .title img {
  height: 40px;
  margin-right: 20px;
}

header .headerTop .title h1 {
  letter-spacing: 1px;
  font-size: 28px;
}

header .headerTop .headerDeliveryText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  margin: 0 0 0 40px;
}

header .headerTop .headerDeliveryText h5 span {
  color: #FF5C01;
}

header .headerTop .headerDeliveryText h5 {
  font-size: 18px;
  font-weight: 400;
}

header .headerTop .headerDeliveryText h5:last-of-type {
  font-size: 15px;
}

header .headerTop .headerPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 110px;
  margin: 0 330px 0 50px;
}

header .headerTop .headerPhone h6 {
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

header .headerTop .headerPhone h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

header .headerTop button {
  height: 30px;
  width: 100px;
  font-size: 14px;
  color: #646262;
  background-color: #F3F3F7;
}

header .headerTop button:hover {
  color: black;
}

header .headerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 8% 10px;
}

header .headerBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .headerBottom ul li {
  margin: 10px;
  list-style: none;
  cursor: pointer;
}

header .headerBottom ul li:first-of-type {
  margin-left: 0px;
}

header .headerBottom ul li a {
  color: black;
  text-decoration: none;
}

header .headerBottom ul li a:hover {
  color: #FF5C01;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .headerBottom button {
  height: 40px;
  width: 110px;
  font-size: 16px;
  color: white;
  font-weight: 300;
  background-color: #FF5C01;
}

header .headerBottom button:hover {
  background-color: #d44e06;
}

.fixedHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0% 0px;
}

.fixedHeader .headerTop {
  display: none;
}

.fixedHeader .headerBottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixedHeader .headerBottom ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixedHeader .headerBottom img {
  width: 0px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 20px 0 0;
}

.slide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 140px auto 0px;
  width: 1250px;
  overflow: hidden;
  position: relative;
}

.slide:hover .slide1nav .fa {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide .slidePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .slidePhoto img {
  width: 1250px;
  border-radius: 30px;
}

.slide button {
  position: absolute;
  color: #999;
  background-color: transparent;
  border: none;
  width: 6vh;
  height: 6vh;
  border-radius: 40%;
  font-size: 6vh;
  z-index: 0;
}

.slide button:hover {
  background-color: rgba(231, 230, 230, 0.521);
  color: #000;
}

.slide button:first-of-type {
  top: 50%;
}

.slide button:last-of-type {
  top: 50%;
  right: 0%;
}

.slide .slide1nav {
  position: absolute;
  bottom: 0%;
  left: 45%;
  -webkit-transition: 0s;
  transition: 0s;
}

.slide .slide1nav .fa {
  opacity: 0;
  margin: 8px;
  font-size: 15px;
  color: red;
  cursor: pointer;
  color: #5c5c5c;
}

.slide .slide1nav .fa:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #363636;
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.popup1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  background-color: white;
  border-radius: 20px;
  min-width: 1024px;
  max-width: 80%;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.popup1 .popupClose {
  position: absolute;
  right: -45px;
  top: -12px;
  font-size: 60px;
  font-weight: 100;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.popup1 .popup1Left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup1 .popup1Left div img {
  width: 400px;
  position: absolute;
}

.popup1 .popup1Left div img:first-of-type {
  width: 300px;
  right: calc(55.5%);
  top: calc(25%);
  z-index: 5;
  -webkit-transition: 1s;
  transition: 1s;
}

.popup1 .popup1Left div img:last-of-type {
  right: calc(60% - 85px);
  top: calc(0% + 90px);
  z-index: 1;
  opacity: 0.3;
}

.popup1 .popupRight {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(252, 250, 250, 0.932);
  border-radius: 20px;
}

.popup1 .popupRight h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 30px 0 0 20px;
}

.popup1 .popupRight h4 {
  font-weight: 200;
  font-size: 14px;
  color: gray;
  margin: 5px 0px 0 20px;
}

.popup1 .popupRight .popup1tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 0 20px;
}

.popup1 .popupRight .popup1tags a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}

.popup1 .popupRight .popup1tags a p {
  margin: 0 5px 0 0;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  border-bottom: 1px dashed black;
}

.popup1 .popupRight .popup1tags a .closeIngredient {
  font-size: 10px;
  margin: 0 5px 0 0;
  border: 1px solid gray;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup1 .popupRight .pizzaSizes {
  margin: 5px 0 0 20px;
  width: calc(100% - 40px);
  height: 32px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

.popup1 .popupRight .pizzaSizes a {
  width: 33%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup1 .popupRight .pizzaSizes .sizeChecked {
  background-color: white;
  width: 33%;
  height: 85%;
  -webkit-box-shadow: 0 0 4px 1px #c8c8c8;
          box-shadow: 0 0 4px 1px #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.popup1 .popupRight .pizzaTraditional {
  margin: 10px 0 0 20px;
  width: calc(100% - 40px);
  height: 32px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

.popup1 .popupRight .pizzaTraditional div {
  background-color: white;
  width: 99%;
  height: 90%;
  -webkit-box-shadow: 0 0 4px 1px #c8c8c8;
          box-shadow: 0 0 4px 1px #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.popup1 .popupRight h6 {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 0px 20px;
}

.popup1 .popupRight .pizzaAdBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0 0 20px;
  cursor: pointer;
}

.popup1 .popupRight .pizzaAdBoxes .pizzaAdBox {
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0px #e0dfdf;
          box-shadow: 0 0 4px 0px #e0dfdf;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 160px;
  width: 105px;
  margin: 10px 10px 10px 0px;
  position: relative;
}

.popup1 .popupRight .pizzaAdBoxes .pizzaAdBox i {
  border-radius: 50%;
  border: 1px solid #FF5C01;
  color: #FF5C01;
  font-size: 8px;
  padding: 3px;
  position: absolute;
  top: 10%;
  right: 10%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.popup1 .popupRight .pizzaAdBoxes .pizzaAdBox img {
  height: 90px;
  width: 90px;
  margin-top: 5px;
}

.popup1 .popupRight .pizzaAdBoxes .pizzaAdBox div {
  font-size: 12px;
  font-weight: 200;
}

.popup1 .popupRight .pizzaAdBoxes .pizzaAdBox h5 {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 400;
}

.popup1 .popupRight button {
  margin: 100px 20px 20px 20px;
  width: calc(100% - 40px);
  height: 48px;
  color: white;
  background-color: #FF5C01;
  line-height: 24px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 30px;
}

.popup1 .popupRight button:hover {
  background-color: #d44e06;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup1.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popupOverlay.active {
  opacity: 1;
  display: block;
}

.productContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productContainer h2 {
  margin: 30px 0px 30px 60px;
  font-weight: 500;
  font-size: 24px;
}

.productContainer > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productContainer > div .product {
  margin: 0px 0px;
  width: 300px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productContainer > div .product a {
  cursor: pointer;
}

.productContainer > div .product a img {
  height: 280px;
  -webkit-transition: 1s;
  transition: 1s;
}

.productContainer > div .product a img:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.productContainer > div .product p {
  font-size: 14px;
  color: gray;
  font-weight: 200;
  margin: 10px 0px;
}

.productContainer > div .product .productFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
}

.productContainer > div .product .productFooter button {
  height: 40px;
  width: 120px;
  font-size: 14px;
  color: #FF5C01;
  background-color: #FFF0E6;
}

.productContainer > div .product .productFooter button:hover {
  background-color: #FFD2B3;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 50px 0px 30px 0px;
}

footer h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 30px 0px;
}

footer h5 {
  color: #FF5C01;
  font-weight: 100;
  word-spacing: 2px;
  margin-bottom: 15px;
}

footer h6 {
  font-size: 14px;
  font-weight: 400;
  word-spacing: 2px;
  margin-bottom: 20px;
}

footer .footerLeft {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

footer .footerMiddle {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

footer .footerRight {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .footerRight a {
  overflow: hidden;
  width: 400px;
  height: 400px;
}

footer .footerRight a:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 10s ease-out;
  transition: 10s ease-out;
}

footer .footerRight a div {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

footer .footerRight a div::after {
  content: 'Pristatymo zona';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: black;
}

footer .footerRight a img {
  width: 300px;
  height: 300px;
}

.mediumText {
  font-size: 20px;
  font-weight: 500;
}

.buttonShape {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.upppercase {
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */